/* ___      _                       _
  / __|    (_)    __ _     ___     | |
 | (__     | |   / _` |   / _ \    |_|
  \___|   _|_|_  \__,_|   \___/   _(_)_
_|"""""|_|"""""|_|"""""|_|"""""|_| """ |
"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'
*/

h1 {
    color: #FFFFFF;
    font-size: 1.8em;
    border: 0;
    margin: 0;
    padding: 15px 15px 15px 20px;
    background: #006;
    text-shadow: 0px 0px 20px #FFF;
}

h2 {
    color: #006;
    font-size: 1.3em;
}

h3 {
    margin: 20px 0 10px -20px;
    font-size: 1.2em;
    font-weight: normal;
}

body {
    font-family: "Helvetica Neue", "Sans-Serif";
    margin: 10px;
    font-size: 1em;
}

a:link {
    color: #006;
}

a:visited {
    color: #006;
}

a:active {
    color: #006;
}

a:hover {
    color: #006;
    text-shadow: 0px 0px 10px #5A64E6;
}

#picture {
    height: 8.6em;
    border: 0;
    float: left;
    margin: 0 0 10px 10px;
    box-shadow: 0 0 10px #888;
}

a:link.hidden {
    text-decoration: none;
    color: black;
}

a:visited.hidden {
    text-decoration: none;
    color: black;
}

a:active.hidden {
    text-decoration: none;
    color: black;
}

a:hover.hidden {
    color: black;
    text-shadow: 0px 0px 10px #888;
}

.part {
    overflow: hidden;
}

.part li {
    margin-bottom: 8px;
    list-style-type: circle;
}

.liamneddih {
    text-shadow: 0px 0px 10px #bbf;
}

.contacts {
    overflow: hidden;
}

.contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 15px;
    font-size: 1.2em;
}

.bsp10 {
    margin-bottom: 10px;
}

.bsp20 {
    margin-bottom: 20px;
}

.profile {
    margin-left: 10px;
    margin-bottom: 5px;
}

.profile img {
    height: 1.2em;
}

.heading {
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #008;
    background: #F5F5FF;
}
